<!DOCTYPE HTML>
<html>
<head>
<title>- Analysis of Crime by AURIN. </title>

		<!--  jquery plguin -->
	    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/bootstrap.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
    	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    	<link href="../static/css/chart.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!--start slider -->
	    <link rel="stylesheet" href="../static/css/fwslider.css" media="all">
		<script src="../static/js/jquery-ui.min.js"></script>
		<script src="../static/js/css3-mediaqueries.js"></script>
		<script src="../static/js/fwslider.js"></script>
		<!--end slider -->
	
		<!-- start testimonials -->
		<!-- da-slider -->
		<link rel="stylesheet" type="text/css" href="../static/css/slider.css" />
		<script type="text/javascript" src="../static/js/modernizr.custom.28468.js"></script>
		<script type="text/javascript" src="../static/js/jquery.cslider.js"></script>
		<script type="text/javascript">
			$(function() {

				$('#da-slider').cslider({
					autoplay : true,
					bgincrement : 450
				});

			});
		</script>
		<script type="text/javascript">
			$(function() {

				$('#da-slider1').cslider({
					autoplay : true,
					bgincrement : 450
				});

			});
		</script>
		<!-- echart-->
		<script type="text/javascript" src="../static/js/echarts.js"></script>
		<script type="text/javascript" src="../static/js/macarons.js"></script>
</head>

<body>
<div class="header_bg">
	<!-- start header -->
<div class="header_bg">
	<!-----start-conatiner---->
		<div class="container">
			<!-----start-header---->
			<div class="header">
					<!----start-top-nav---->
		      <header id="topnav">
			        <nav>
			        		 <ul>
								<li class="active"><a  href="#home">HOME</a></li>
								<li><a href="#about" class="scroll">INTRODUCTION</a></li>
								<li><a href="#portfolio" class="scroll">RESEARCHES</a></li>
								<li><a href="#team" class="scroll">TEAM</a></li>

								
							</ul>
		        	</nav>
			         <a href="index.html"><h1><img src="../static/images/logo_1.png" alt=""/></h1></a>
			        	<a href="#" id="navbtn">Nav Menu</a>
			       <div class="clearfix"> </div>
		        </header>
		         <!----start-top-nav---->
		    </div>
		   <!-----start-header---->
		</div>
	</div>
		<script type="text/javascript"  src="../static/js/menu.js"></script>
</div>


<!--    chart    -->
<div class="content">
	<h1>Analysis of Crime by AURIN.</h1>
<div class="col-md-12">
	<div>
		<img src="../static/images/aurin.png" alt=""/>
	</div>
</div>

<div class="col-md-7">

		
			
</div>
	
	



</div>

<div class="footer">
	<div class="col-md-12">
	<div class="container">
		<div class="row">
 			<div class="col-md-12">	
				<div class="copy-right">
					<p>Copyright &copy; 2019. COMP90024 TEAM 18.</p>	
				</div>	
			</div>
		</div>
   </div>
</div>
</div>

</body>