<!DOCTYPE HTML>
<html>
<head>
<title>COMP90024 TEAM18 ASSIGNMENT2</title>

		<!--  jquery plguin -->
	    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="../static/js/bootstrap.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
    	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!--start slider -->
	    <link rel="stylesheet" href="../static/css/fwslider.css" media="all">
		<script src="../static/js/jquery-ui.min.js"></script>
		<script src="../static/js/css3-mediaqueries.js"></script>
		<script src="../static/js/fwslider.js"></script>
		<!--end slider -->
		<script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		<!-- start testimonials -->
		<!-- da-slider -->
		<link rel="stylesheet" type="text/css" href="../static/css/slider.css" />
		<script type="text/javascript" src="../static/js/modernizr.custom.28468.js"></script>
		<script type="text/javascript" src="../static/js/jquery.cslider.js"></script>
		<script type="text/javascript">
			$(function() {

				$('#da-slider').cslider({
					autoplay : true,
					bgincrement : 450
				});

			});
		</script>
		<script type="text/javascript">
			$(function() {

				$('#da-slider1').cslider({
					autoplay : true,
					bgincrement : 450
				});

			});
		</script>
</head>

<body>
<!-- start header -->
<div class="header_bg">
	<!-- start header -->
<div class="header_bg">
	<!-----start-conatiner---->
		<div class="container">
			<!-----start-header---->
			<div class="header">
					<!----start-top-nav---->
		      <header id="topnav">
			        <nav>
			        		 <ul>
								<li class="active"><a  href="#home">HOME</a></li>
								<li><a href="#about" class="scroll">INTRODUCTION</a></li>
								<li><a href="#portfolio" class="scroll">RESEARCHES</a></li>
								<li><a href="#team" class="scroll">TEAM</a></li>
								
								
							</ul>
		        	</nav>
			         <h1><a href="index.html" ><img src="../static/images/logo_1.png" alt=""/></a></h1>
			        	<a href="#" id="navbtn">Nav Menu</a>
			       <div class="clearfix"> </div>
		        </header>
		         <!----start-top-nav---->
		    </div>
		   <!-----start-header---->
		</div>
	</div>
		<script type="text/javascript"  src="../static/js/menu.js"></script>
</div>
<!----start-images-slider---->
		<div class="images-slider">
			<!-- start slider -->
		    <div id="fwslider">
		        <div class="slider_container">
		            <div class="slide"> 
		                <!-- Slide image -->
		                    <img src="../static/images/background_.jpg" alt=""/>
		                <!-- /Slide image -->
		                <!-- Texts container -->
		                <div class="slide_content">
		                    <div class="slide_content_wrap">
		                    	 <!-- Text description -->
		                        <p class="description" > </p> <!-- i dont know put what... -->
								
		                        <!-- /Text description -->
		                        <!-- Text title -->
		                        <h4 class="title">Explore the <span style="color:#f6e79c">Seven Deadily Sins</span> <br> --- 
		                         <span style="color:#47c5de">Social Media </span>analytics</h4>
		                        <!-- /Text title -->
		                        <p class="description"><a href="index.html">LEARN MORE <img src="../static/images/download.png" alt=""/></a></p>
		                        <div class="slide-btns description">	                      
		                        </div>
		                    </div>
		                </div>
		                 <!-- /Texts container -->
		            </div>
		            <!-- /Duplicate to create more slides -->
		            <div class="slide">
		                <img src="../static/images/background1_.jpg" alt=""/>
		                 <div class="slide_content">
		                    <div class="slide_content_wrap">
		                    	 <!-- Text description -->
		                        <p class="description">  </p>
		                        <!-- /Text description -->
		                        <!-- Text title -->
		                        <h4 class="title">The offical data from<br>--- <span style="color:#47c5de">AURIN.org.au</span></h4>
		                        <!-- /Text title -->
		                        <p class="description"><a href="index.html">LEARN MORE <img src="../static/images/download.png" alt=""/></a></p>
		                        <div class="slide-btns description">	                      
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="slide">
		                <img src="../static/images/background2_.jpg" alt=""/>
		                 <div class="slide_content">
		                    <div class="slide_content_wrap">
		                    	 <!-- Text description -->
		                        <p class="description"></p>
		                        <!-- /Text description -->
		                        <!-- Text title -->
		                        <h4 class="title">PRIDE  GREED ENVY   GLUTTONY <br>
		                        WRATH SLOTH ...</h4>
		                        <!-- /Text title -->
		                        <p class="description"><a href="index.html">LEARN MORE<img src="../static/images/download.png" alt=""/></a></p>
		                        <div class="slide-btns description">	                      
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!--/slide -->
		        </div>
		        <div class="timers"> </div>
		        <div class="slidePrev"><span> </span></div>
		        <div class="slideNext"><span> </span></div>
		    </div>
		    <!--/slider -->
		</div>
<!-- about -->
		<div class="about" id="about">
	    	<div class="container">
				<div class="row">
				    <div class="col-md-12">			
				        <h3>#TheDeadlySins Research</h3>
				        <span> </span>
				        <p  style="color:#828282">The focus is to explore the Seven Deadly Sins<br> through social media analytics.</p>
					</div>
				</div>		
			</div>
		</div>
        	
<div class="about-bottom">
		<div class="about-left pull-left">
			<h4>What have we done? </h4>  
			<p>Harvesting 104000+ tweets on Twitter</p>
			<p>Automate the deployment of cloud servers</p>
			<p>Text analysis & Data visualization</p>
			<p><a href="index.html">READ MORE</a></p>
		</div>	
		<div class="about-right pull-right">
			<img src="../static/images/about_.jpg" alt=""/>
		</div>
		<div class="clearfix"></div>
</div>
<!-- service -->
<div class="service text-center">
	<div class="container">
        <h3>TECHNOLOGY STACK</h3>
        <p style="color:#535353;text-align:center;">In this project, we mainly use CouchDB, Ansible and Tweetpy. </p>
       <div class="service-bottom">
	        <div class="row">
			    <div class="col-md-4">	
			    	<img src="../static/images/couchdb.png" alt=""/>		
			        <h4><a href="index.html">CouchDB</a></h4>
			        <p >An open-source database software that focuses on ease of use and having a scalable architecture. It has a document-oriented NoSQL database architecture and is implemented in the concurrency-oriented language Erlang; it uses JSON to store data, JavaScript as its query language using MapReduce, and HTTP for an API.</p>
				</div>
				<div class="col-md-4">	
					<img src="../static/images/ansible.png" alt=""/>		
			        <h4><a href="index.html">Ansible</a></h4>
			        <p >An open-source software provisioning, configuration management, and application deployment tool. It runs on many Unix-like systems, and can configure both Unix-like systems as well as Microsoft Windows. It includes its own declarative language to describe system configuration.</p>
				</div>
				<div class="col-md-4">	
					<img src="../static/images/tweetpy.png" alt=""/>		
			        <h4><a href="index.html">Streaming With Tweepy</a></h4>
			        <p >Tweepy makes it easier to use the twitter streaming api by handling authentication, connection, creating and destroying the session, reading incoming messages, and partially routing messages. </p>
				</div>
			</div>	
		</div>	
   </div>
</div>
<!-- skills -->
<div class="skills text-center">
	<div class="container">
        <h4>OUR APPLICATIONS</h4>
       <div class="client">		
		<div class="pie-wrapper progress-45 style-2">
		  <span class="label">6<span class="smaller">+</span></span>
		  <div class="pie">
		    <div class="left-side half-circle"></div>
		    <div class="right-side half-circle"></div>
		  </div>
		  <div class="shadow"></div>
		  <h3>Cities Data</h3>
		</div>
		<div class="pie-wrapper progress-75 style-2">
		  <span class="label">75<span class="smaller">%</span></span>
		  <div class="pie">
		    <div class="left-side half-circle"></div>
		    <div class="right-side half-circle"></div>
		  </div>
		  <div class="shadow"></div>
		   <h3>Population Cover</h3>
		</div>
		<div class="pie-wrapper progress-95 style-2">
		  <span class="label">360<span class="smaller">h+</span></span>
		  <div class="pie">
		    <div class="left-side half-circle"></div>
		    <div class="right-side half-circle"></div>
		  </div>
		  <div class="shadow"></div>
		   <h3>Twitter Crawler</h3>
		</div>
		</div>	
	</div>
   </div>
</div>
<!-- portfolio -->
<div class="portfilio" id="portfolio">
	<div class="container">
		<div class="about">	   
				<div class="row  Protects">
				    <div class="col-md-12">			
				        <h3>Maps Analysis Based On Research</h3>
				        <span></span>
				        <p  style="color:#a0a0a0">  Combined AURIN's data with Twitter data.</p>
					</div>
				</div>		
		</div>	
	</div>	
	 <div class="port">
       		<ul>
					<li><div class="view view-fourth" >
						<a href="aurin.html">
						     <img src="../static/images/port1.jpg" alt=""/>
							 <div class="mask">	
							      <div class="border">                   
									   <h2>AURIN</h2>
									   <span></span>
									   <p class="a">ANALYSIS</p>		                       
								  </div>                                                 
							 </div></a>		
						</div>	
					</li>
					<li><div class="view view-fourth">
						<a href="chart_Lust.html">
						     <img src="../static/images/port2.jpg" alt=""/>
							 <div class="mask">	
							      <div class="border">                   
									   <h2>Lust</h2>
									   <span></span>
									   <p class="a">Map TWO</p>		                       
								  </div>                                                 
							 </div></a>		
						</div>	
					</li>
					<li><div class="view view-fourth">
						<a href="chart_wrath.html">
						     <img src="../static/images/port3.jpg" alt=""/>
							 <div class="mask">	
							      <div class="border">                   
									   <h2>wrath</h2>
									   <span></span>
									   <p class="a">Map THREE</p>		                       
								  </div>                                                 
							 </div></a>		
						</div>	
					</li>
					<!--<li><div class="view view-fourth">
						     <img src="images/port4_.jpg" alt=""/>
							 <div class="mask">	
							      <div class="border">                   
									   <h2>IDSC  Lab</h2>
									   <span></span>
									   <p class="a">MORE+</p>		                       
								  </div>                                                 
							 </div>		
						</div>	
					</li>-->
			</ul>	
     </div>
    <div class="slider">
	<div id="da-slider1" class="da-slider">
							<!-- da-slider -->
							<div class="da-slide">
								<h2> Ansible Deployment, </h2>
								<p> 17.04.2019 - 11.05.2019.</p>							    
							</div>
							<div class="da-slide">
								<h2>Twitter Analysis, </h2>
								<p>17.04.2019 - 01.05.2019.</p>							    
							</div>
							<div class="da-slide">
								<h2>Twitter Harvester, </h2>
								<p>17.04.2019 - Now.</p>						    
							</div>
							<div class="da-slide">
								<h2>CouchDB & MapReduce Deployment, </h2>
								<p>20.04.2019 - 04.05.2019</p>							    
							</div>
							<div class="da-slide">
								<h2>Web Server Built & Deployment, </h2>
								<p>27.04.2019 - 12.05.2019</p>							    
							</div>
	</div><!-- da-slider -->			
</div> 
	<!-- <div class="port-text">
       		<p ><a href="index.html" style="color:#a0a0a0">LEARN MORE+</a></p>
     </div>-->
  
<div class="team" id="team">
	<div class="container">
		<div class="about">	   
				<div class="row">
				    <div class="col-md-12">			
				        <h3>MEMBERS of OUR TEAM</h3>
				        <span> </span>
				        
					</div>
				</div>		
		</div>	
		<div class="team-member">
			<ul>
			<p> Yizhou Wang </p>
			<p> Jiazhen Hu </p>
			<p> Tonghao Wang </p>
			<p> Zhiyuan Shen </p>
			<p> Yuxuan Chen </p>
			</ul>		
		</div>		
	</div>									
</div>


         </div>


</div>

<!---start-contact---->

<!---End-contact---->
<div class="footer-top">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="index.html"><img src="../static/images/logo_2.png" alt=""/></a>
			    <p>Report of Assignment 2 in COMP90024 Cluster and Cloud Computing Team 18 .</p>
				<div class="foot">
					<span>WebEditor: Zhiyuan Shen / zhshen@student.unimelb.edu.au</span>
				</div>
				</div>
			</div>				  
			</div>	
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
 			<div class="col-md-12">	
				<div class="copy-right">
					<p>Copyright &copy; 2019. COMP90024 TEAM 18.</p>	
				</div>	
			</div>
		</div>
    </div>
</div>
 <!-- scroll_top_btn -->
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>

		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

</body>
</html>