---
- hosts: Wordpress
  vars_files:
    - host_vars/wordpress.yaml
  gather_facts: True
  pre_tasks:
    - name: 'Install Python' 
      raw: sudo apt-get install update; sudo apt-get -y install python; sudo rm -rf /etc/systemd/system/docker.service.d; sudo mkdir /etc/systemd/system/docker.service.d
  roles:
    - role: common
    - role: docker
    - role: proxy
    - role: volumes
    - role: wordpress
    - role: couchdb